Repository andrewsmike/jasmine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, npm-test, gen_sql_parser, isort, black, flake8, mypy, pytest

eslint:
  name: eslint
  stages:
  - commit
  language: system
  entry: eslint --fix

prettier:
  name: prettier
  stages:
  - commit
  language: system
  entry: prettier -w --tab-width 4

npm-test:
  name: npm-test
  stages:
  - commit
  language: system
  entry: npm test -- --passWithNoTests --watchAll=false

gen_sql_parser:
  name: gen_sql_parser
  stages:
  - commit
  language: system
  entry: python jasmine-sql/setup.py gen_parser
  pass_filenames: false

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest

Add 'blocked_by' column to tracker so user can filter for unblocked tasks.
  tools/jasmine_tracker/jasmine_tracker.py
  tools/jasmine_tracker/tasks.py
  tools/jasmine_tracker/update_backlog.py
Due: none

story-47: Mark connections as readonly; correct SQL parser error handling.
  jasmine-etl/jasmine/etl/backends.py
  jasmine-sql/jasmine/sql/parser/sql.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Tracker: Rename TODO => NEXT IN LINE.
  tools/jasmine_tracker/tasks.py
Due: none

story-3: Fix builtin-or-identifier lexer logic, console_scripts entry.
  jasmine-sql/jasmine/sql/parser/sql_base.py
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/setup.cfg
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

JasmineSQL: Add more example queries.
  jasmine-sql/jasmine/sql/examples/real_dev.sql
  jasmine-sql/jasmine/sql/examples/sum.sql
Due: none

Fix query editor text update bug, use path-utils instead of redoing logic.
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
Due: eslint, prettier, npm-test

story-1: Add move_query() endpoint.
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
Due: isort, black, flake8, mypy, pytest

task-46, story-1: Refactor query editor form state, handle view renaming.
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/query-editor-bar.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/state-reducers.tsx
  jasmine-webui/src/jasmine-view/state.tsx
Due: eslint, prettier, npm-test

Substantially refactor AST structure and pretty print visitor.
  jasmine-sql/jasmine/sql/ast_base.py
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/parser/sql.py
  jasmine-sql/jasmine/sql/pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Upgrade antlr, pin version in new dev_requirements.txt, regenerate parsers.
  config/dev/dev_requirements.txt
  jasmine-sql/jasmine/sql/parser/SQLLexer.py
  jasmine-sql/jasmine/sql/parser/SQLParserListener.py
  jasmine-sql/jasmine/sql/parser/SQLParserVisitor.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLLexer.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLParserListener.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLParserVisitor.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Prototype initial AST, pretty print logic. Set up rigorous formatting tests.
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/examples/formatted/arith.sql
  jasmine-sql/jasmine/sql/examples/formatted/bool_exprs.sql
  jasmine-sql/jasmine/sql/examples/formatted/constants.sql
  jasmine-sql/jasmine/sql/examples/formatted/flat.sql
  jasmine-sql/jasmine/sql/examples/formatted/functions.sql
  jasmine-sql/jasmine/sql/examples/formatted/joins.sql
  jasmine-sql/jasmine/sql/examples/formatted/real_dev.sql
  jasmine-sql/jasmine/sql/examples/formatted/subqueries.sql
  jasmine-sql/jasmine/sql/examples/formatted/sum.sql
  jasmine-sql/jasmine/sql/examples/joins.sql
  jasmine-sql/jasmine/sql/parser/sql.py
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/test_pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add helpful note to jasmine tracker readme.
  tools/jasmine_tracker/README.md
Due: none

Add further autoformatting improvements.
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/examples/formatted/basics.sql
  jasmine-sql/jasmine/sql/examples/formatted/bool_exprs.sql
  jasmine-sql/jasmine/sql/examples/formatted/constants.sql
  jasmine-sql/jasmine/sql/examples/formatted/functions.sql
  jasmine-sql/jasmine/sql/examples/formatted/joins.sql
  jasmine-sql/jasmine/sql/examples/formatted/subqueries.sql
  jasmine-sql/jasmine/sql/examples/formatted/sum.sql
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/test_pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Upgrade to Python 3.10, upgrade npm modules, upgrade nodejs.
  .Dockerfile.webserver
  .Dockerfile.webui
  .Dockerfile.worker
  jasmine-webui/package-lock.json
  jasmine-webui/package.json
Due: prettier

Complete initial AST, transformations, reach functional pretty-printing.
  jasmine-sql/jasmine/sql/ast_base.py
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/examples/formatted/union.sql
  jasmine-sql/jasmine/sql/examples/real_dev.sql
  jasmine-sql/jasmine/sql/examples/transforms.sql
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/transform.py
  jasmine-sql/setup.cfg
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Upgrade antlr 4.9.2 => 4.9.3.
  config/dev/dev_requirements.txt
  jasmine-sql/jasmine/sql/parser/SQLLexer.py
  jasmine-sql/jasmine/sql/parser/SQLParser.py
  jasmine-sql/jasmine/sql/parser/SQLParserListener.py
  jasmine-sql/jasmine/sql/parser/SQLParserVisitor.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLLexer.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLParser.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLParserListener.py
  jasmine-sql/jasmine/sql/parser/autogen/SQLParserVisitor.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Webserver: Correct SQL pretty_printed call.
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
Due: isort, black, flake8, mypy, pytest

Add parse/pprint idempotence test, correct variety of pprint errors.
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/examples/formatted/union.sql
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/test_pretty_print.py
  jasmine-sql/jasmine/sql/transform.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add tooling for codebase stats using cloc.
  tools/cloc.sh
  tools/cloc_exclude_dir_list.txt
  tools/included_cloc_files.sh
Due: none

Improve pretty printing; set up proper formatted tests.
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/examples/formatted/arith.sql
  jasmine-sql/jasmine/sql/examples/formatted/bad_basics.sql
  jasmine-sql/jasmine/sql/examples/formatted/bad_joins.sql
  jasmine-sql/jasmine/sql/examples/formatted/bad_union.sql
  jasmine-sql/jasmine/sql/examples/formatted/basics.sql
  jasmine-sql/jasmine/sql/examples/formatted/bool_exprs.sql
  jasmine-sql/jasmine/sql/examples/formatted/comments.sql
  jasmine-sql/jasmine/sql/examples/formatted/cte.sql
  jasmine-sql/jasmine/sql/examples/formatted/flat.sql
  jasmine-sql/jasmine/sql/examples/formatted/real_dev.sql
  jasmine-sql/jasmine/sql/examples/formatted/subqueries.sql
  jasmine-sql/jasmine/sql/examples/formatted/sum.sql
  jasmine-sql/jasmine/sql/examples/formatted/union.sql
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/test_pretty_print.py
  jasmine-sql/jasmine/sql/transform.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Correct subquery pretty printing to match expectations.
  jasmine-sql/jasmine/sql/examples/formatted/subqueries.sql
  jasmine-sql/jasmine/sql/format_notes.txt
  jasmine-sql/jasmine/sql/pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add dev database dump for fast setup.
  README.md
  config/dev/dev_database_dump.sql
Due: none

Restructure SQLAlchemy URI config; break out 'port' and rename 'database'.
  config/dev/example_jasmine_webserver.cfg
  config/dev/jasmine_worker.cfg
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-webserver/jasmine/webserver/app_base.py
Due: isort, black, flake8, mypy, pytest

Prototype materializations' state machine and sqla models.
  .gitignore
  jasmine-models/jasmine/models/__init__.py
  jasmine-models/jasmine/models/materializations/__init__.py
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-models/jasmine/models/materializations/display_state_machine.py
  jasmine-models/jasmine/models/materializations/history_table.py
  jasmine-models/jasmine/models/materializations/view.py
  jasmine-models/jasmine/models/project_models.py
  jasmine-models/migrations/versions/c8d7ac3697f5_add_materialization_model.py
  jasmine-models/setup.cfg
Due: none

Break out SQL manipulation logic from ReadonlyDictCursor.
  jasmine-etl/jasmine/etl/backends.py
  jasmine-sql/jasmine/sql/analysis.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Prototype materialization GraphQL API, view materialization.
  README.md
  jasmine-etl/jasmine/etl/materializations/__init__.py
  jasmine-etl/jasmine/etl/materializations/view.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-sql/jasmine/sql/transforms/complex_base.py
  jasmine-sql/jasmine/sql/transforms/escaping.py
  jasmine-sql/jasmine/sql/transforms/view.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add CREATE TABLE reflection, history table DDL transform logic.
  .pre-commit-config.yaml
  jasmine-sql/jasmine/sql/table_spec.py
  jasmine-sql/jasmine/sql/transforms/history_table.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Automate database dump gen, fix DB timezone issues, add backend_event script.
  README.md
  docker-compose.yml
  tools/backend_events.sh
  tools/update_sql_dumps.sh
Due: none

Fix config parsing, update app base session handling.
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-webserver/jasmine/webserver/app.py
  jasmine-webserver/jasmine/webserver/app_base.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
Due: isort, black, flake8, mypy, pytest

Add DDL / lifecycle management tooling, materialization context, harden view ETL.
  config/dev/dev_database_dump.sql
  jasmine-etl/jasmine/etl/backends.py
  jasmine-etl/jasmine/etl/ddl_tools.py
  jasmine-etl/jasmine/etl/materializations/etl_tools.py
  jasmine-etl/jasmine/etl/materializations/view.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-models/jasmine/models/materializations/__init__.py
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-models/jasmine/models/materializations/view.py
  jasmine-models/jasmine/models/project_models.py
  jasmine-models/migrations/versions/4b6f23a3b894_add_materialization_context_column.py
  jasmine-sql/jasmine/sql/table_spec.py
  jasmine-sql/jasmine/sql/transforms/view.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add rigorous ETL lifecycle testing harness, test view.
  jasmine-etl/jasmine/etl/materializations/tests/README.md
  jasmine-etl/jasmine/etl/materializations/tests/test_database_dump.sql
  jasmine-etl/jasmine/etl/materializations/tests/test_materialization.py
Due: none

Add .coveragerc config.
  .coveragerc
Due: none

Add debugging information to query strings.
  jasmine-etl/jasmine/etl/backends.py
Due: none

Correct mysql timezone env var typo in docker-compose file.
  docker-compose.yml
Due: none

Add MySQL concurrency visualizer tool, document tooling, minor tweaks/whitespace.
  README.md
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/setup.cfg
  tools/backend_events.sh
  tools/mysql_trace.py
  tools/mysql_trace_example.png
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Correct session rollback semantics, debugging backend cursor config.
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-etl/jasmine/etl/backends.py
  jasmine-webserver/jasmine/webserver/app_base.py
Due: isort, black, flake8, mypy, pytest

Correct bad_spec->rejected state typo, add preventative assert, add mat.terminal() helper.
  jasmine-etl/jasmine/etl/materializations/etl_tools.py
  jasmine-etl/jasmine/etl/materializations/view.py
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-models/jasmine/models/materializations/view.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
Due: isort, black, flake8, mypy, pytest

Add ORM cascading for deleting children objects.
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-models/jasmine/models/project_models.py
Due: none

Maintain a view materialization for all views at all times.
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
Due: isort, black, flake8, mypy, pytest

Add example SQL statement generated by creating a view.
  jasmine-sql/jasmine/sql/examples/viewified.sql
Due: none

Path conditions:
  eslint: any of: ^jasmine-webui/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  prettier: any of: ^jasmine-webui/
  npm-test: any of: ^jasmine-webui/ and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  gen_sql_parser: any of: ^jasmine-sql/ and \.py$
  isort: any of: ^jasmine-(sql|webserver)/ and \.py$
  black: any of: ^jasmine-(sql|webserver)/ and \.py$
  flake8: any of: ^jasmine-(sql|webserver)/ and \.py$ and not (setup.py)
  mypy: any of: ^jasmine-(sql|webserver)/ and \.py$
  pytest: any of: ^jasmine-(sql|webserver)/ and \.py$
