Repository andrewsmike/jasmine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, npm-test, gen_sql_parser, isort, black, flake8, mypy, pytest

.pre-commit-config.yml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        stages: [commit]
        language: system
        entry: eslint --fix
        types_or: [ts, tsx, javascript, jsx]
        files: "^jasmine-webui/"

      - id: prettier
        name: prettier
        stages: [commit]
        language: system
        entry: prettier -w --tab-width 4
        files: "^jasmine-webui/"

      - id: npm-test
        name: npm-test
        stages: [commit]
        language: system
        entry: npm test -- --passWithNoTests --watchAll=false
        types_or: [ts, tsx, javascript, jsx]
        files: "^jasmine-webui/"

      - id: gen_sql_parser
        name: gen_sql_parser
        stages: [commit]
        language: system
        entry: python jasmine-sql/setup.py gen_parser
        types: [python]
        pass_filenames: false
        files: "^jasmine-sql/"

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort
        types: [python]
        files: "^jasmine-(sql|webserver)/"

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black
        types: [python]
        files: "^jasmine-(sql|webserver)/"

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: 'setup.py'
        files: "^jasmine-(sql|webserver)/"

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: mypy
        types: [python]
        pass_filenames: false
        files: "^jasmine-(sql|webserver)/"

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest
        types: [python]
        files: "^jasmine-(sql|webserver)/"

Fix pre-commit hook file extension.
  .pre-commit-config.yaml
Due: none

Correct User.default_project relationship, apply isort/flake8 properly.
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webserver/jasmine/webserver/models/user_models.py
Due: isort, black, flake8, mypy, pytest

Reformat query graphql definition, fix with_sqla_session commit semantics.
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
Due: isort, black, flake8, mypy, pytest

Correct alembic's env.py registry import.
  jasmine-webserver/migrations/env.py
Due: isort, black, flake8, mypy, pytest

Add backend type and spec.
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
  jasmine-webserver/jasmine/webserver/models/project_models.py
  jasmine-webserver/migrations/versions/d3d4e3d12c7f_add_backend_type_spec.py
Due: isort, black, flake8, mypy, pytest

Apply missed autoformatting, force mypy to ignore env.py.
  jasmine-webserver/jasmine/webserver/models/model_registry.py
  jasmine-webserver/migrations/env.py
  pyproject.toml
Due: isort, black, flake8, mypy, pytest

Add README.md tags for tooling, remove autogen'd jasmine-webui README.
  README.md
  jasmine-webui/README.md
Due: prettier

Webserver: Remove unused flask dependency.
  jasmine-webserver/jasmine/webserver/app_base.py
  jasmine-webserver/setup.cfg
Due: isort, black, flake8, mypy, pytest

ETL: Prototype ETL celery pool, docker-compose integration, monitoring, scheduler service.
  .Dockerfile.webserver
  .Dockerfile.worker
  .pre-commit-config.yaml
  README.md
  config/dev/jasmine_worker.cfg
  config/dev/launch_celery.sh
  docker-compose.yml
  jasmine-etl/.gitignore
  jasmine-etl/README.md
  jasmine-etl/celerybeat-schedule
  jasmine-etl/jasmine/etl/app.py
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-etl/setup.cfg
  jasmine-etl/setup.py
  pyproject.toml
Due: none

WebUI: Prototype feedback bar, fix npm-test pre-commit hook.
  .pre-commit-config.yaml
  jasmine-webui/src/jasmine-query/jasmine-query.tsx
  jasmine-webui/src/jasmine-query/query-editor.tsx
  jasmine-webui/src/jasmine-query/query-feedback-bar.tsx
  jasmine-webui/src/jasmine-query/state-reducers.tsx
  jasmine-webui/src/jasmine-query/state.tsx
  jasmine-webui/src/store.tsx
Due: eslint, prettier, npm-test

Genericize query -> views, where queries are a subtype of views.
  jasmine-webserver/jasmine/webserver/graphql_models/__init__.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webserver/jasmine/webserver/models/__init__.py
  jasmine-webserver/jasmine/webserver/models/project_models.py
  jasmine-webserver/migrations/versions/5fecf4bf9ca5_genericize_queries_views_where_queries_.py
  jasmine-webui/src/jasmine-query/jasmine-query.tsx
  jasmine-webui/src/jasmine-query/state-reducers.tsx
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/sql-editor.tsx
  jasmine-webui/src/jasmine-view/state-reducers.tsx
  jasmine-webui/src/jasmine-view/state.tsx
  jasmine-webui/src/jasmine-view/view-feedback-bar.tsx
  jasmine-webui/src/jasmine-web/create-query-button.tsx
  jasmine-webui/src/jasmine-web/jasmine-web.tsx
  jasmine-webui/src/jasmine-web/nav-bar-sections.tsx
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
  jasmine-webui/src/store.tsx
Due: eslint, prettier, npm-test, isort, black, flake8, mypy, pytest

Add view type icons to nav directory tree.
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
Due: eslint, prettier, npm-test

Make the app-bar cast a shadow over nav-bar.
  jasmine-webui/src/jasmine-web/app-bar.tsx
Due: eslint, prettier, npm-test

ETL: Add redis locking service.
  config/dev/jasmine_worker.cfg
  docker-compose.yml
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-etl/setup.cfg
  pyproject.toml
Due: none

Remove some unused imports.
  jasmine-webserver/jasmine/webserver/app.py
  jasmine-webserver/jasmine/webserver/graphql_models/user_models.py
Due: isort, black, flake8, mypy, pytest

WebUI view-editor: Handle tiny-width screens.
  jasmine-webui/src/jasmine-view/query-editor.tsx
Due: eslint, prettier, npm-test

Add scrollbars to code editor on small displays.
  jasmine-webui/package-lock.json
  jasmine-webui/package.json
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/sql-editor.tsx
Due: eslint, prettier, npm-test

WebUI: Upgrade dependencies.
  package-lock.json
  package.json
Due: none

Switch to swipeable drawers for mobile.
  jasmine-webui/src/index.tsx
  jasmine-webui/src/jasmine-view/view-feedback-bar.tsx
  jasmine-webui/src/jasmine-web/jasmine-web.tsx
  jasmine-webui/src/jasmine-web/nav-bar.tsx
Due: eslint, prettier, npm-test

Jasmine tracker sheet: Add backlog proritizer.
  tools/jasmine_tracker/.gitignore
  tools/jasmine_tracker/README.md
  tools/jasmine_tracker/app_base.py
  tools/jasmine_tracker/jasmine_tracker.py
  tools/jasmine_tracker/tasks.py
  tools/jasmine_tracker/update_backlog.py
Due: none

WebUI: Add initial query settings drawer, tabs.
  jasmine-webui/src/jasmine-view/data-settings.tsx
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/log-settings.tsx
  jasmine-webui/src/jasmine-view/materialization-settings.tsx
  jasmine-webui/src/jasmine-view/performance-settings.tsx
  jasmine-webui/src/jasmine-view/permission-settings.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/schema-settings.tsx
  jasmine-webui/src/jasmine-view/state-reducers.tsx
  jasmine-webui/src/jasmine-view/state.tsx
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
Due: eslint, prettier, npm-test

story-2: Allow users to delete views.
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/schema-settings.tsx
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
Due: eslint, prettier, npm-test, isort, black, flake8, mypy, pytest

Jasmine Tracker: Fix erroneous code cleanups, verify working.
  tools/jasmine_tracker/tasks.py
  tools/jasmine_tracker/update_backlog.py
Due: none

story-42,task-41: Add last action notification, set up for view operations.
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/schema-settings.tsx
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
  jasmine-webui/src/jasmine-web/create-query-button.tsx
  jasmine-webui/src/jasmine-web/jasmine-web.tsx
  jasmine-webui/src/jasmine-web/notifications.tsx
  jasmine-webui/src/jasmine-web/state-reducers.tsx
  jasmine-webui/src/jasmine-web/state.tsx
Due: eslint, prettier, npm-test

Hide settings panel after deleting a view, don't count completed tasks' effort in total_effort.
  jasmine-webui/src/jasmine-view/schema-settings.tsx
  tools/jasmine_tracker/update_backlog.py
Due: eslint, prettier, npm-test

Properly handle navbarCollapsed state when drawer is permanently open.
  jasmine-webui/src/jasmine-web/state-reducers.tsx
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
Due: eslint, prettier, npm-test

Add fullPath handling utils.
  jasmine-webui/src/utils/path-utils.test.tsx
  jasmine-webui/src/utils/path-utils.tsx
Due: eslint, prettier, npm-test

Correct navbarCollapsed handling.
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
Due: eslint, prettier, npm-test

WebUI: Add set, iter utils, update tests.
  jasmine-webui/package-lock.json
  jasmine-webui/package.json
  jasmine-webui/src/jasmine-web/jasmine-web.test.tsx
  jasmine-webui/src/utils/iter-utils.test.tsx
  jasmine-webui/src/utils/iter-utils.tsx
  jasmine-webui/src/utils/map-utils.test.tsx
  jasmine-webui/src/utils/set-utils.test.tsx
  jasmine-webui/src/utils/set-utils.tsx
Due: eslint, prettier, npm-test

Fix infinite-polling dev webpack issue, install lodash.
  config/dev/nginx.conf
  jasmine-webui/package-lock.json
  jasmine-webui/package.json
Due: prettier

Refactor view-directory-tree, make expanded by default.
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
  jasmine-webui/src/utils/path-utils.test.tsx
  jasmine-webui/src/utils/path-utils.tsx
Due: eslint, prettier, npm-test

WebUI: Remove improper centering on scrollable <Tabs/>.
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
Due: eslint, prettier, npm-test

Remove erroneously added files.
  .gitignore
  jasmine-etl/celerybeat-schedule
  package-lock.json
  package.json
Due: none

Break out ORM models into their own package.
  .Dockerfile.webserver
  .Dockerfile.worker
  .pre-commit-config.yaml
  README.md
  docker-compose.yml
  jasmine-models/README.md
  jasmine-models/alembic.ini
  jasmine-models/jasmine/models/__init__.py
  jasmine-models/jasmine/models/model_registry.py
  jasmine-models/jasmine/models/project_models.py
  jasmine-models/jasmine/models/user_models.py
  jasmine-models/migrations/README
  jasmine-models/migrations/env.py
  jasmine-models/migrations/script.py.mako
  jasmine-models/migrations/versions/52df0e51938e_add_user_default_projects.py
  jasmine-models/migrations/versions/564a9e076693_create_initial_schema.py
  jasmine-models/migrations/versions/5fecf4bf9ca5_genericize_queries_views_where_queries_.py
  jasmine-models/migrations/versions/d3b9889927f0_reorder_rename_columns_for_consistency.py
  jasmine-models/migrations/versions/d3d4e3d12c7f_add_backend_type_spec.py
  jasmine-models/setup.cfg
  jasmine-models/setup.py
  jasmine-webserver/jasmine/webserver/app.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webserver/jasmine/webserver/models/__init__.py
  jasmine-webserver/setup.cfg
  pyproject.toml
Due: isort, black, flake8, mypy, pytest

Add backend events table, view log settings panel.
  jasmine-models/jasmine/models/project_models.py
  jasmine-models/migrations/env.py
  jasmine-models/migrations/versions/8817963694c9_add_backend_events.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webserver/setup.cfg
  jasmine-webui/package-lock.json
  jasmine-webui/package.json
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/log-settings.tsx
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
Due: eslint, prettier, npm-test, isort, black, flake8, mypy, pytest

Fix up isort config.
  jasmine-etl/setup.cfg
  jasmine-models/jasmine/models/user_models.py
  jasmine-models/setup.cfg
  jasmine-sql/setup.cfg
  jasmine-webserver/jasmine/webserver/app.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  jasmine-webserver/setup.cfg
  pyproject.toml
Due: isort, black, flake8, mypy, pytest

Switch to session.query().one() instead of .first(), fix backlog bug.
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
  tools/jasmine_tracker/update_backlog.py
Due: isort, black, flake8, mypy, pytest

Prototype backend view-preview task.
  README.md
  config/dev/jasmine_worker.cfg
  jasmine-etl/jasmine/etl/app_base.py
  jasmine-etl/jasmine/etl/backends.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/query.py
Due: isort, black, flake8, mypy, pytest

Truly force pytest to ignore doctest-incompatible files.
  conftest.py
  pyproject.toml
Due: none

WebUI: Prototype preview view result component.
  jasmine-webui/src/jasmine-view/log-settings.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/view-result-preview.tsx
Due: eslint, prettier, npm-test
