Repository andrewsmike/jasmine: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, npm-test, gen_sql_parser, isort, black, flake8, mypy, pytest

.pre-commit-config.yml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        stages: [commit]
        language: system
        entry: eslint --fix
        types_or: [ts, tsx, javascript, jsx]
        files: "^jasmine-webui/"

      - id: prettier
        name: prettier
        stages: [commit]
        language: system
        entry: prettier -w --tab-width 4
        files: "^jasmine-webui/"

      - id: npm-test
        name: npm-test
        stages: [commit]
        language: system
        entry: npm test -- --passWithNoTests --watchAll=false
        types_or: [ts, tsx, javascript, jsx]
        files: "^jasmine-webui/"

      - id: gen_sql_parser
        name: gen_sql_parser
        stages: [commit]
        language: system
        entry: python jasmine-sql/setup.py gen_parser
        types: [python]
        pass_filenames: false
        files: "^jasmine-sql/"

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort
        types: [python]
        files: "^jasmine-(sql|webserver)/"

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black
        types: [python]
        files: "^jasmine-(sql|webserver)/"

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: 'setup.py'
        files: "^jasmine-(sql|webserver)/"

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: mypy
        types: [python]
        pass_filenames: false
        files: "^jasmine-(sql|webserver)/"

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest
        types: [python]
        files: "^jasmine-(sql|webserver)/"

Correct pretty print multiple-line indent handling.
  jasmine-sql/jasmine/sql/examples/formatted/union.sql
  jasmine-sql/jasmine/sql/pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add additional reload ETL test, improve upsert query rewriting test.
  jasmine-etl/jasmine/etl/materializations/tests/test_materialization.py
  jasmine-sql/jasmine/sql/transforms/upsert.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Prototype materialization scheduled (celery-beat) and automatic-transition scheduling.
  jasmine-etl/jasmine/etl/materializations/tests/test_materialization.py
  jasmine-etl/jasmine/etl/materializations/walk_materializations.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
Due: isort, black, flake8, mypy, pytest

WebUI: Autosort logs by most recent event, notify with error when save fails.
  jasmine-webui/src/jasmine-view/log-settings.tsx
  jasmine-webui/src/jasmine-view/schema-settings.tsx
Due: eslint, prettier, npm-test

Document jasmine_step_mat feature, fix import ordering, inject updated_ts keys on upsert materialization.
  README.md
  jasmine-etl/jasmine/etl/materializations/__init__.py
  jasmine-etl/jasmine/etl/materializations/reload.py
  jasmine-etl/jasmine/etl/materializations/upsert.py
  jasmine-models/jasmine/models/materializations/__init__.py
Due: none

Correct stale session bug when using automatic-transitions.
  jasmine-etl/jasmine/etl/worker_tasks.py
Due: none

Add error reporting to webui when saving a view.
  jasmine-webui/src/jasmine-view/query-editor.tsx
Due: eslint, prettier, npm-test

tools/grep.sh: Properly quote arguments.
  tools/grep.sh
Due: none

Set timezone across all containers (fix backend_events.sh reporting the wrong events.)
  docker-compose.yml
Due: none

Tools: Limit output size, don't report SQL dump data.
  tools/backend_events.sh
  tools/grep.sh
Due: none

TableSpec: Allow db_name=None to use default database, handle unnamed indices.
  jasmine-sql/jasmine/sql/table_spec.py
  jasmine-sql/jasmine/sql/transforms/escaping.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Prototype CDC history table materialization.
  jasmine-etl/jasmine/etl/materializations/__init__.py
  jasmine-etl/jasmine/etl/materializations/history_table.py
  jasmine-etl/jasmine/etl/materializations/tests/history_table_example_conf.json
  jasmine-models/jasmine/models/materializations/history_table.py
  jasmine-models/migrations/versions/d5c799b43657_add_history_table_to_view_type_enum.py
  jasmine-sql/jasmine/sql/transforms/history_table.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Update query_column_names with deprecated-for-purpose warning.
  jasmine-sql/jasmine/sql/analysis.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Make successful materialization events log as well.
  jasmine-etl/jasmine/etl/materializations/etl_tools.py
Due: none

jasmine_step_mat: Fix default config so empty-config materializations can be initialized.
  jasmine-etl/jasmine/etl/materializations/walk_materializations.py
Due: none

Substantially harden materializations and tooling, add backend-derived query table_spec inference.
  .pre-commit-config.yaml
  config/dev/dev_database_dump.sql
  jasmine-etl/jasmine/etl/backends.py
  jasmine-etl/jasmine/etl/ddl_tools.py
  jasmine-etl/jasmine/etl/materializations/reload.py
  jasmine-etl/jasmine/etl/materializations/tests/test_database_dump.sql
  jasmine-etl/jasmine/etl/materializations/tests/test_materialization.py
  jasmine-etl/jasmine/etl/materializations/upsert.py
  jasmine-etl/jasmine/etl/query_type_analysis.py
  jasmine-etl/jasmine/etl/test_query_type_analysis.py
  jasmine-sql/jasmine/sql/analysis.py
  jasmine-sql/jasmine/sql/table_spec.py
  jasmine-sql/jasmine/sql/transforms/complex_base.py
  jasmine-sql/jasmine/sql/transforms/upsert.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Clean up state machine declarations; remove unused config defaults.
  jasmine-models/jasmine/models/materializations/__init__.py
  jasmine-models/jasmine/models/materializations/reload.py
  jasmine-models/jasmine/models/materializations/upsert.py
  jasmine-models/jasmine/models/materializations/view.py
Due: none

Correct trigger inspection methods after first real testing.
  jasmine-etl/jasmine/etl/backends.py
  jasmine-etl/jasmine/etl/ddl_tools.py
Due: none

./tools/grep.sh: Hide package*.json.
  tools/grep.sh
Due: none

Add create_history_table, history table mat management to GraphQL API.
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
Due: isort, black, flake8, mypy, pytest

Update jasmine_models.__all__.
  jasmine-models/jasmine/models/__init__.py
Due: none

WebUI: Prototype some support for history table views.
  jasmine-webui/src/jasmine-view/jasmine-view.tsx
  jasmine-webui/src/jasmine-view/materialization-settings.tsx
  jasmine-webui/src/jasmine-view/query-editor.tsx
  jasmine-webui/src/jasmine-view/schema-settings.tsx
  jasmine-webui/src/jasmine-view/sql-editor.tsx
  jasmine-webui/src/jasmine-view/view-settings-drawer.tsx
  jasmine-webui/src/jasmine-web/view-directory-tree.tsx
Due: eslint, prettier, npm-test

Add framework for incremental ETL, add add-to-enum migration, update database dumps.
  config/dev/dev_database_dump.sql
  jasmine-etl/jasmine/etl/materializations/__init__.py
  jasmine-etl/jasmine/etl/materializations/incremental.py
  jasmine-etl/jasmine/etl/materializations/tests/test_database_dump.sql
  jasmine-etl/jasmine/etl/materializations/tests/test_materialization.py
  jasmine-models/jasmine/models/__init__.py
  jasmine-models/jasmine/models/materializations/__init__.py
  jasmine-models/jasmine/models/materializations/base.py
  jasmine-models/jasmine/models/materializations/incremental.py
  jasmine-models/migrations/versions/d547953d4d42_add_incremental_materialization_to_mat_.py
  jasmine-webserver/jasmine/webserver/graphql_models/mutation.py
  jasmine-webserver/jasmine/webserver/graphql_models/project_models.py
Due: isort, black, flake8, mypy, pytest

Suppress an irrelevant typing error.
  jasmine-models/jasmine/models/materializations/history_table.py
Due: none

Update README warning.
  README.md
Due: none

Add parse_tree_get logic, ColumnRef AST node, fix identifier bug.
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/parser/sql.py
  jasmine-sql/jasmine/sql/pretty_print.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add TableSpec.pk_table(), temp-table regions, allow non-temporary staging tables.
  jasmine-etl/jasmine/etl/region_tools.py
  jasmine-sql/jasmine/sql/ast_nodes.py
  jasmine-sql/jasmine/sql/parser/sql.py
  jasmine-sql/jasmine/sql/pretty_print.py
  jasmine-sql/jasmine/sql/table_spec.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add further docs to table_diff.
  jasmine-etl/jasmine/etl/table_diff.py
Due: none

Swap the order of UPDATE_INSERT and UPDATE_DELETE trigger rows for consistency.
  jasmine-sql/jasmine/sql/transforms/history_table.py
Due: gen_sql_parser, isort, black, flake8, mypy, pytest

Add license for public release.
  LICENSE.txt
  README.md
Due: none

TO BE SQUASHED
  jasmine-etl/jasmine/etl/history_tools.py
  jasmine-etl/jasmine/etl/materializations/incremental.py
  jasmine-etl/jasmine/etl/materializations/upsert.py
  jasmine-etl/jasmine/etl/test_query_type_analysis.py
  jasmine-etl/jasmine/etl/worker_tasks.py
  jasmine-sql/jasmine/sql/transforms/join_graph.py
  jasmine-webui/src/jasmine-view/schema-settings.tsx
Due: eslint, prettier, npm-test, gen_sql_parser, isort, black, flake8, mypy, pytest
